* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c9cebd;
}

.container {
    padding: 2rem;
    display: grid;
    /*grid-template-columns: minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr);*/
    '
 grid-template-columns: repeat, (12, 1fr);
    grid-template-rows: 10% 1rf 4rf 3rf 1rf 10%;
    height: 100vh;
    row-gap: 1rem;
    column-gap: 1rem;
}

.item-1 {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    background-color: #6C6061;
}

.item-2 {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    background-image: url("../images/sunshine.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top;
    background-size: cover;
}

.item-3 {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    background-color: #B2BCAA;
    /*width: 95%;
  margin-right: auto;
  margin-left: auto;*/
}

.item-4 {
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    background-color: #C9CEBD;
    border: 3px solid #64403E;
    border-radius: 10px;
    position: relative;
    /*position: relative;
    background: #eee;
    overflow: hidden;
    padding: 0;*/
}

.item-4 iframe {
    border-radius: 10px;
}

/*.item-4 iframe {
    overflow: hidden;
}*/

/*.item-4 iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}*/

/*https://stackoverflow.com/questions/33451481/scale-and-reposition-iframe-like-background-size-cover*/
button {
    background-color: #64403E;
    /* Green */
    border: none;
    color: #C9CEBD;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 150px;
    margin-bottom: 10px;
    margin-top: 8px;
    border-radius: 12px;
    position: absolute;
    right: 150px;
    bottom: 22px;
    /*transition: 0.3s;*/

}

button:hover {
    border: 2px solid #64403E;
    background-color: #C9CEBD;
    color: #64403E;
    cursor: pointer;
}

.item-5 {
    grid-column: 1 / 13;
    grid-row: 5 / 6;
    background-color: #B2BCAA;
}

.item-6 {
    grid-column: 1 / 13;
    grid-row: 6 / 7;
    background-color: #6C6061;
}

.text {
    max-height: 120px;
}

.item-2,
.item-3,
.item-5 {
    text-align: center;
    padding: 20px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 15px;
    text-align: left;
    letter-spacing: 2px;
    font-size: 14px;

}

h1 {
    text-transform: uppercase;
    color: #838E83;
}

h2 {
    font-style: italic;
    color: #C9CEBD;