@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c9cebd;
    font-family: roboto, sans-serif;
}

.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    /*grid-template-rows: 10% 1rf 4rf 3rf 1rf 10%;*/
    grid-template-rows: 10% repeat (10, 1rf) 10%;
    row-gap: 1rem;
    column-gap: 1rem;
}

/*header*/
.item-1 {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    background-color: #6C6061;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*.logo-link {
    width: 30px;
    height: 30px;
    font-size: 12px;
    color: #c9cebd;
    font: Urbanist, sans-serif;
    font-weight: 700;
    text-decoration: none;
}*/


.logo-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #c9cebd;
}

/*@media screen and (min-width: 375px) {
    .logo-link {
        width: 35px;
        height: 35px;
    }

    .item-1 {
        padding-left:
    }
}*/
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 20px;
    list-style: none;
}

ul li {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    color: #c9cebd;
}

ul li a {
    text-decoration: none;
    color: #B2BCAA;
}

ul li a:hover {
    color: #c9cebd;
    transition: 0.5s;
    text-decoration: underline;
    cursor: pointer;
}

.logo-div {
    font-size: 20px;
    /*background-color: yellow;*/
}

.logo-paragraph {
    font-size: 24px;
    font-weight: bold;
}

/*media queries for 375px size and bigger*/

@media screen and (min-width: 375px) {
    .menu {
        flex-direction: row;
    }

    ul li {
        margin: 10px 5px;
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {

    ul li {
        margin: 10px 5px;
        font-size: 14px;
    }
}

@media screen and (min-width: 809px) {

    ul li {
        margin: 10px 5px;
        font-size: 16px;
    }

    .item-2 {
        background-position: center;
    }
}


main {
    grid-column: 1 / 13;
    grid-row: 2 / 12;
}

/*to solve the gap between p2 and footer - caused by the main section*/
.item-2 {
    margin-bottom: 1rem;
    grid-column: 1 / 13;
    grid-row: 2 / 4;
    border-radius: 10px;
    background-image: url("../images/sunshine.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;
    border: none;
}


@media screen and (min-width: 850px) {

    .item-2 {
        background-position: center;
    }
}

h1 {
    text-transform: uppercase;
    color: #C9CEBD;
    font-family: Urbanist, sans-serif;
}

h2 {
    font-style: italic;
    color: #838E83;
    font-family: Urbanist, sans-serif;
    font-weight: 700;
}

.item-3 {
    margin-bottom: 1rem;
    grid-column: 1 / 13;
    grid-row: 4 / 6;
    background-color: #B2BCAA;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: left;
}

.item-4 {
    margin-bottom: 1rem;
    grid-column: 1 / 13;
    grid-row: 6 / 9;
    background-color: #C9CEBD;
    border: 3px solid #64403E;
    border-radius: 10px;
    position: relative;
    /*position: relative;
    background: #eee;
    overflow: hidden;
    padding: 0;*/
}

.item-4 iframe {
    border-radius: 10px;
}

button {
    background-color: #64403E;
    /* Green */
    border: none;
    color: #C9CEBD;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: bold;
    margin-left: 150px;
    margin-bottom: 10px;
    margin-top: 8px;
    border-radius: 12px;
    position: absolute;
    right: 150px;
    bottom: 22px;
}

button:hover {
    border: 1px solid #64403E;
    background-color: #C9CEBD;
    color: #64403E;
    cursor: pointer;
    transition: 0.3s;
}

.item-5 {
    grid-column: 1 / 13;
    grid-row: 9 / 12;
    background-color: #B2BCAA;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: left;

}

.item-6 {
    grid-column: 1 / 13;
    grid-row: 12 / 13;
    background-color: #6C6061;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #c9cebd;
}

/*.item-2,
    .item-3,
    .item-5 {text-align: center;}*/

.p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 15px;
    text-align: left;
    letter-spacing: 2px;
    font-size: 10px;
}

.paragraph-title {
    text-align: center;
    margin-bottom: 20px;
}

/*style for the Form Page page*/


.form-main {
    grid-column: 1 / 13;
    grid-row: 2 / 12;
}

.form-item-2 {
    grid-column: 1 / 13;
    grid-row: 2 / 4;
}

.form-item-3 {
    grid-column: 1 / 13;
    grid-row: 4 / 9;
}

legend {
    font-size: 48px;
    font-family: Urbanist, sans-serif;
    margin-left: 10px;
    color: #6C6061;
}

.label-text {
    display: block;
    font-size: 18px;
    color: #6C6061;
    font-weight: 600;
    margin: 8px 0;
}

input {
    width: 50%;
    height: 30px;
    border: 2px solid #6C6061;
    border-radius: 2px;
}

textarea {
    width: 50%;
    border: 2px solid #6C6061;
    border-radius: 2px;
}


.form-item-4 {
    grid-column: 1 / 13;
    grid-row: 9 / 12;
    background-image: url("../images/hosenbiene.PNG");
    height: 500px;
    background-repeat: no-repeat, no-repeat;
    background-position: right;
    background-size: cover;

}

/*adjust background-position: */
@media screen and (max-width: 850px) {
    .form-item-4 {
        background-position: center;
    }
}



/*.form-image {
    grid-column: 1 / 13;
    /*display: flex;
    align-items: center;
    justify-content: center;

}*/

/*button {
  background-color: #4CAF50;  Green 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 100px;
}*/