* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    /*grid-template-columns: minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr);*/
    '
 grid-template-columns: repeat (auto-fit, minmax (100px, 2fr));
    grid-template-rows: auto repeat (4, 1fr) auto;
    height: 100vh;
    row-gap: 1rem;
    column-gap: 1rem;

    .item-1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        background-color: red;
    }



    .item-2 {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        background-color: yellow;
        background-image: url(".css/assets/images/sunshine.png");
        background-repeat: no-repeat, no-repeat;
        background-position: top;
        background-size: cover;
    }

    #title {
        font-size: 3rem;
        text-align: center;
        margin-top: 40px;
    }

    h3 {
        text-align: center;
        color: blueviolet;
    }

    .item-3 {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        background-color: gray;
        /*width: 95%;
        margin-right: auto;
        margin-left: auto;*/
    }

    .item-4 {
        grid-column: 1 / 5;
        grid-row: 4 / 5;
        background-color: blue;
    }

    .item-5 {
        grid-column: 1 / 5;
        grid-row: 5 / 6;
        background-color: grey;
    }

    .item-6 {
        grid-column: 1 / 5;
        grid-row: 6 / 7;
        background-color: pink;
    }